In [1]:
import pandas as pd
import numpy as np

# Imports

In [2]:
cations_list=pd.read_excel('Cations_list.xlsx', sheet_name= "SET 1")

In [3]:
cations_list

,Elements,Avg Intensity,Intensity,Conc,Units 1,Units 2,Sample,Batch,SET
0,Cs133,193,11.7,6.06,cps,mg/L,1.0,a,1.0
1,Cu63,3040,99.5,3.27,cps,mg/L,1.0,a,1.0
2,As75,2720,74.5,2.73,cps,mg/L,1.0,a,1.0
3,Cr52,52.6,13.8,26.2,cps,mg/L,1.0,a,1.0
4,Fe57,26500,2020,7.64,cps,mg/L,1.0,a,1.0
...,...,...,...,...,...,...,...,...,...
8753,Cd111,2.59,0.642,24.7,cps,mg/L,81.0,a,NaN
8754,Li7,6770,86.3,1.27,cps,mg/L,81.0,a,NaN
8755,Be9,0,0,cps,mg/L,NaN,81.0,a,NaN
8756,Al27,493,58.9,12,cps,mg/L,81.0,a,NaN
8757,2023-12-11 00:00:00,04:05:38,PM,NaN,NaN,NaN,81.0,a,NaN

In [4]:
cations_list['SET']=cations_list['SET'].ffill()
cations_list

,Elements,Avg Intensity,Intensity,Conc,Units 1,Units 2,Sample,Batch,SET
0,Cs133,193,11.7,6.06,cps,mg/L,1.0,a,1.0
1,Cu63,3040,99.5,3.27,cps,mg/L,1.0,a,1.0
2,As75,2720,74.5,2.73,cps,mg/L,1.0,a,1.0
3,Cr52,52.6,13.8,26.2,cps,mg/L,1.0,a,1.0
4,Fe57,26500,2020,7.64,cps,mg/L,1.0,a,1.0
...,...,...,...,...,...,...,...,...,...
8753,Cd111,2.59,0.642,24.7,cps,mg/L,81.0,a,5.0
8754,Li7,6770,86.3,1.27,cps,mg/L,81.0,a,5.0
8755,Be9,0,0,cps,mg/L,NaN,81.0,a,5.0
8756,Al27,493,58.9,12,cps,mg/L,81.0,a,5.0
8757,2023-12-11 00:00:00,04:05:38,PM,NaN,NaN,NaN,81.0,a,5.0

In [5]:
cations_list.shape

(8758, 9)

In [6]:
cations_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Elements       8175 non-null   object
 1   Avg Intensity  8175 non-null   object
 2   Intensity      8175 non-null   object
 3   Conc           8174 non-null   object
 4   Units 1        8174 non-null   object
 5   Units 2        7699 non-null   object
 6   Sample         8175 non-null   float64
 7   Batch          8346 non-null   object
 8   SET            8758 non-null   float64
dtypes: float64(2), object(7)
memory usage: 615.9+ KB

In [7]:
cations_list.drop(columns=['Intensity', 'Conc', 'Units 1', 'Units 2'])

                 Elements Avg Intensity  Sample Batch  SET
0                   Cs133           193     1.0     a  1.0
1                    Cu63          3040     1.0     a  1.0
2                    As75          2720     1.0     a  1.0
3                    Cr52          52.6     1.0     a  1.0
4                    Fe57         26500     1.0     a  1.0
...                   ...           ...     ...   ...  ...
8753                Cd111          2.59    81.0     a  5.0
8754                  Li7          6770    81.0     a  5.0
8755                  Be9             0    81.0     a  5.0
8756                 Al27           493    81.0     a  5.0
8757  2023-12-11 00:00:00      04:05:38    81.0     a  5.0

[8758 rows x 5 columns]

In [8]:
cations_list =cations_list.drop(columns=['Intensity', 'Conc', 'Units 1', 'Units 2'])

In [9]:
cations_list.columns

Index(['Elements', 'Avg Intensity', 'Sample', 'Batch', 'SET'], dtype='object')

# Sample Prep

In [10]:

temp_df=[]
#for item in ['1', '2', '3', '4 & 5', '6', '7, 8']:
for item in ['1', '6', '7, 8']:
    print(item)
    sam=pd.read_excel('Cations_list.xlsx', sheet_name= item)

    sam=sam.rename(columns={'Stations':'Sample'})
    sam['Sample']=sam['Sample'].ffill()
    sam.columns = sam.columns.to_series().mask(lambda x: x.str.startswith('Unnamed')).ffill()
    sam=sam.iloc[1:, 1:]
 
    temp_df.append(sam)

1
6
7, 8

In [11]:
sam

,Cruise Type,Date,Sample name,Sample,1st Triplicate Initial,1st Triplicate final,2nd Triplicate initial,2nd Triplicate final,3rd Triplicate initial,3rd Triplicate final,Batch
1,WMS,2022-09-12,Site- 1 Top,79.0,7.99,10.03,7.99,10.03,7.99,10.03,a
2,WMS,2022-09-12,Site- 2 Top,80.0,8.02,10,8.02,10,8.02,10,a
3,WMS,2022-09-12,Site- 2 Mid,80.0,7.99,10,7.99,10,7.99,10,b
4,WMS,2022-09-12,Site -2 Bottom,80.0,8,10.03,8,10.03,8,10.03,c
5,WMS,2022-09-12,Site- 3 Top,81.0,8.02,10,8.02,10,8.02,10,a
...,...,...,...,...,...,...,...,...,...,...,...
71,WMS,2022-09-15,Site- 26' Mid,104.0,8.01,10.06,8.01,10.06,8.01,10.06,b
72,WMS,2022-09-15,Site -26' Bottom,104.0,8.01,10.03,8.01,10.03,8.01,10.03,c
73,WMS,2022-09-16,Site- 27 Top,105.0,8,10.05,8,10.05,8,10.05,a
74,WMS,2022-09-16,Site- 27 Mid,105.0,8,10.01,8,10.01,8,10.01,b
75,WMS,2022-09-16,Site -27 Bottom,105.0,8.02,10,8.02,10,8.02,10,c

In [12]:
sample_preparation=pd.concat(temp_df).reset_index(drop=True)
sample_preparation

,Cruise Type,Date,Sample name,Sample,1st Triplicate Initial,1st Triplicate final,2nd Triplicate initial,2nd Triplicate final,3rd Triplicate initial,3rd Triplicate final,Batch
0,WMS,2020-11-12,WMS- 1 Top,1.0,8.024,10.004,8,10,8,10,a
1,WMS,2020-11-12,WMS- 1 Mid,1.0,8.006,10,7.99,10.01,8,10.05,b
2,WMS,2020-11-12,WMS -1 Bt,1.0,8.014,10.011,8.04,10,8.07,10.02,c
3,WMS,2020-11-12,WMS- 2 Top,2.0,8.014,10.013,8.07,10.01,8.07,10.09,a
4,WMS,2020-11-12,WMS- 2 Mid,2.0,8.005,10.015,8.09,10.03,8.07,10,b
...,...,...,...,...,...,...,...,...,...,...,...
240,WMS,2022-09-15,Site- 26' Mid,104.0,8.01,10.06,8.01,10.06,8.01,10.06,b
241,WMS,2022-09-15,Site -26' Bottom,104.0,8.01,10.03,8.01,10.03,8.01,10.03,c
242,WMS,2022-09-16,Site- 27 Top,105.0,8,10.05,8,10.05,8,10.05,a
243,WMS,2022-09-16,Site- 27 Mid,105.0,8,10.01,8,10.01,8,10.01,b
244,WMS,2022-09-16,Site -27 Bottom,105.0,8.02,10,8.02,10,8.02,10,c

In [13]:
sample_preparation.head()

,Cruise Type,Date,Sample name,Sample,1st Triplicate Initial,1st Triplicate final,2nd Triplicate initial,2nd Triplicate final,3rd Triplicate initial,3rd Triplicate final,Batch
0,WMS,2020-11-12,WMS- 1 Top,1.0,8.024,10.004,8,10,8,10,a
1,WMS,2020-11-12,WMS- 1 Mid,1.0,8.006,10,7.99,10.01,8,10.05,b
2,WMS,2020-11-12,WMS -1 Bt,1.0,8.014,10.011,8.04,10,8.07,10.02,c
3,WMS,2020-11-12,WMS- 2 Top,2.0,8.014,10.013,8.07,10.01,8.07,10.09,a
4,WMS,2020-11-12,WMS- 2 Mid,2.0,8.005,10.015,8.09,10.03,8.07,10,b

In [14]:
sample_preparation.columns

Index(['Cruise Type', 'Date', 'Sample name', 'Sample',
       '1st Triplicate Initial ', '1st Triplicate final',
       '2nd Triplicate initial', '2nd Triplicate final',
       '3rd Triplicate initial', '3rd Triplicate final', 'Batch'],
      dtype='object')

In [15]:
for col in ['1st Triplicate Initial ', '1st Triplicate final',
       '2nd Triplicate initial', '2nd Triplicate final',
       '3rd Triplicate initial', '3rd Triplicate final',]:
    sample_preparation[col]=sample_preparation[col].astype(str).str.replace(',', '')

In [16]:
#sample_preparation=sample_preparation.drop(axis=0,index=0)

In [17]:
sample_preparation['1st triplicate dil factor']=sample_preparation['1st Triplicate final'].astype(float)/sample_preparation['1st Triplicate Initial '].astype(float)
sample_preparation

,Cruise Type,Date,Sample name,Sample,1st Triplicate Initial,1st Triplicate final,2nd Triplicate initial,2nd Triplicate final,3rd Triplicate initial,3rd Triplicate final,Batch,1st triplicate dil factor
0,WMS,2020-11-12,WMS- 1 Top,1.0,8.024,10.004,8,10,8,10,a,1.246760
1,WMS,2020-11-12,WMS- 1 Mid,1.0,8.006,10,7.99,10.01,8,10.05,b,1.249063
2,WMS,2020-11-12,WMS -1 Bt,1.0,8.014,10.011,8.04,10,8.07,10.02,c,1.249189
3,WMS,2020-11-12,WMS- 2 Top,2.0,8.014,10.013,8.07,10.01,8.07,10.09,a,1.249438
4,WMS,2020-11-12,WMS- 2 Mid,2.0,8.005,10.015,8.09,10.03,8.07,10,b,1.251093
...,...,...,...,...,...,...,...,...,...,...,...,...
240,WMS,2022-09-15,Site- 26' Mid,104.0,8.01,10.06,8.01,10.06,8.01,10.06,b,1.255930
241,WMS,2022-09-15,Site -26' Bottom,104.0,8.01,10.03,8.01,10.03,8.01,10.03,c,1.252185
242,WMS,2022-09-16,Site- 27 Top,105.0,8,10.05,8,10.05,8,10.05,a,1.256250
243,WMS,2022-09-16,Site- 27 Mid,105.0,8,10.01,8,10.01,8,10.01,b,1.251250
244,WMS,2022-09-16,Site -27 Bottom,105.0,8.02,10,8.02,10,8.02,10,c,1.246883

In [18]:
sample_preparation['3rd Triplicate initial']=sample_preparation['3rd Triplicate initial'].replace(0,np.nan)

In [19]:
sample_preparation['2nd triplicate dil factor']=sample_preparation['2nd Triplicate final'].astype(float)/sample_preparation['2nd Triplicate initial'].astype(float)
sample_preparation['3rd triplicate dil factor']=sample_preparation['3rd Triplicate final'].astype(float)/sample_preparation['3rd Triplicate initial'].astype(float)
sample_preparation

,Cruise Type,Date,Sample name,Sample,1st Triplicate Initial,1st Triplicate final,2nd Triplicate initial,2nd Triplicate final,3rd Triplicate initial,3rd Triplicate final,Batch,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor
0,WMS,2020-11-12,WMS- 1 Top,1.0,8.024,10.004,8,10,8,10,a,1.246760,1.250000,1.250000
1,WMS,2020-11-12,WMS- 1 Mid,1.0,8.006,10,7.99,10.01,8,10.05,b,1.249063,1.252816,1.256250
2,WMS,2020-11-12,WMS -1 Bt,1.0,8.014,10.011,8.04,10,8.07,10.02,c,1.249189,1.243781,1.241636
3,WMS,2020-11-12,WMS- 2 Top,2.0,8.014,10.013,8.07,10.01,8.07,10.09,a,1.249438,1.240397,1.250310
4,WMS,2020-11-12,WMS- 2 Mid,2.0,8.005,10.015,8.09,10.03,8.07,10,b,1.251093,1.239802,1.239157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,WMS,2022-09-15,Site- 26' Mid,104.0,8.01,10.06,8.01,10.06,8.01,10.06,b,1.255930,1.255930,1.255930
241,WMS,2022-09-15,Site -26' Bottom,104.0,8.01,10.03,8.01,10.03,8.01,10.03,c,1.252185,1.252185,1.252185
242,WMS,2022-09-16,Site- 27 Top,105.0,8,10.05,8,10.05,8,10.05,a,1.256250,1.256250,1.256250
243,WMS,2022-09-16,Site- 27 Mid,105.0,8,10.01,8,10.01,8,10.01,b,1.251250,1.251250,1.251250
244,WMS,2022-09-16,Site -27 Bottom,105.0,8.02,10,8.02,10,8.02,10,c,1.246883,1.246883,1.246883

In [20]:
sample_preparation.columns

Index(['Cruise Type', 'Date', 'Sample name', 'Sample',
       '1st Triplicate Initial ', '1st Triplicate final',
       '2nd Triplicate initial', '2nd Triplicate final',
       '3rd Triplicate initial', '3rd Triplicate final', 'Batch',
       '1st triplicate dil factor', '2nd triplicate dil factor',
       '3rd triplicate dil factor'],
      dtype='object')

In [21]:
sample_preparation =sample_preparation.drop(columns=[ 'Cruise Type','1st Triplicate Initial ', '1st Triplicate final',
       '2nd Triplicate initial', '2nd Triplicate final',
       '3rd Triplicate initial', '3rd Triplicate final'])
sample_preparation

,Date,Sample name,Sample,Batch,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor
0,2020-11-12,WMS- 1 Top,1.0,a,1.246760,1.250000,1.250000
1,2020-11-12,WMS- 1 Mid,1.0,b,1.249063,1.252816,1.256250
2,2020-11-12,WMS -1 Bt,1.0,c,1.249189,1.243781,1.241636
3,2020-11-12,WMS- 2 Top,2.0,a,1.249438,1.240397,1.250310
4,2020-11-12,WMS- 2 Mid,2.0,b,1.251093,1.239802,1.239157
...,...,...,...,...,...,...,...
240,2022-09-15,Site- 26' Mid,104.0,b,1.255930,1.255930,1.255930
241,2022-09-15,Site -26' Bottom,104.0,c,1.252185,1.252185,1.252185
242,2022-09-16,Site- 27 Top,105.0,a,1.256250,1.256250,1.256250
243,2022-09-16,Site- 27 Mid,105.0,b,1.251250,1.251250,1.251250
244,2022-09-16,Site -27 Bottom,105.0,c,1.246883,1.246883,1.246883

In [22]:
sample_preparation['Sample'].nunique()

103

In [23]:
cations_list['Sample'].nunique()

232

In [24]:
cations_list

                 Elements Avg Intensity  Sample Batch  SET
0                   Cs133           193     1.0     a  1.0
1                    Cu63          3040     1.0     a  1.0
2                    As75          2720     1.0     a  1.0
3                    Cr52          52.6     1.0     a  1.0
4                    Fe57         26500     1.0     a  1.0
...                   ...           ...     ...   ...  ...
8753                Cd111          2.59    81.0     a  5.0
8754                  Li7          6770    81.0     a  5.0
8755                  Be9             0    81.0     a  5.0
8756                 Al27           493    81.0     a  5.0
8757  2023-12-11 00:00:00      04:05:38    81.0     a  5.0

[8758 rows x 5 columns]

# Merging

In [25]:
complete_data=pd.merge(cations_list,sample_preparation, on=["Sample","Batch"], how="left")
complete_data

,Elements,Avg Intensity,Sample,Batch,SET,Date,Sample name,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor
0,Cs133,193,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000
1,Cu63,3040,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000
2,As75,2720,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000
3,Cr52,52.6,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000
4,Fe57,26500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000
...,...,...,...,...,...,...,...,...,...,...
8809,Cd111,2.59,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883
8810,Li7,6770,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883
8811,Be9,0,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883
8812,Al27,493,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883
8813,2023-12-11 00:00:00,04:05:38,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883

In [26]:
complete_data['Elements'].value_counts(dropna=False)

Cu63                   588
As75                   588
Cr52                   588
Fe57                   588
Mo98                   588
Ni60                   588
Zn66                   588
V51                    588
Se82                   588
Cd111                  588
Li7                    588
Be9                    588
Cs133                  587
Al27                   587
NaN                    583
2023-12-11 00:00:00      1
Name: Elements, dtype: int64

In [27]:
complete_data=complete_data[complete_data['Elements'].isin(['Cs133', 'Cu63', 'As75', 'Cr52', 'Fe57', 'Mo98', 'Ni60', 'Zn66',
       'V51', 'Se82', 'Cd111', 'Li7', 'Be9', 'Al27'])].reset_index(drop=True)

# Triplicates

In [28]:
complete_data['actual intensity']=complete_data['1st triplicate dil factor']*complete_data['Avg Intensity']
complete_data

,Elements,Avg Intensity,Sample,Batch,SET,Date,Sample name,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor,actual intensity
0,Cs133,193,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,240.624626
1,Cu63,3040,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,3790.149551
2,As75,2720,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,3391.186441
3,Cr52,52.6,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,65.579561
4,Fe57,26500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,33039.132602
...,...,...,...,...,...,...,...,...,...,...,...
8225,Se82,784,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883,977.55611
8226,Cd111,2.59,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883,3.229426
8227,Li7,6770,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883,8441.396509
8228,Be9,0,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883,0.0
8229,Al27,493,81.0,a,5.0,2022-09-12,Site- 3 Top,1.246883,1.246883,1.246883,614.713217

In [29]:
complete_data.head(20)

,Elements,Avg Intensity,Sample,Batch,SET,Date,Sample name,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor,actual intensity
0,Cs133,193,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,240.624626
1,Cu63,3040,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,3790.149551
2,As75,2720,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,3391.186441
3,Cr52,52.6,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,65.579561
4,Fe57,26500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,33039.132602
5,Mo98,7.74,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,9.64992
6,Ni60,2370,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,2954.820538
7,Zn66,30,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,37.402792
8,V51,3500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,4363.659023
9,Se82,-13.3,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,-16.581904
10,Cd111,2.59,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,3.229108
11,Li7,1690,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,2107.023928
12,Be9,0,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,0.0
13,Al27,963,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.25000,1200.629611
14,Cs133,171,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,213.589808
15,Cu63,2550,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,3185.111167
16,As75,2420,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,3022.73295
17,Cr52,22.2,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,27.729203
18,Fe57,24800,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,30976.767424
19,Mo98,9.13,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.25625,11.403947

In [30]:
interceptset1={'Cs133':302670,
           'Cu63':145505,
           'As75':39183,
           'Cr52':140857,
           'Fe57':23271,
           'Mo98':246156,
           'Ni60':129852,
           'Zn66':78354,
           'V51':851348,
           'Se82':10400,
           'Cd111':99178,
           'Li7':101153,
           'Be9':44861,
           'Al27':125359,}
interceptset2={'Cs133':155487,
           'Cu63':24312,
           'As75':1643.7,
           'Cr52':22798,
           'Fe57':1225.2,
           'Mo98':1443.6,
           'Ni60':7210.9,
           'Zn66':8147.1,
           'V51':7152.6,
           'Se82':523.16,
           'Cd111':6994,
           'Li7':127854,
           'Be9':12872,
           'Al27':44625,}
interceptset3={'Cs133':389081,
           'Cu63':14756,
           'As75':429.14,
           'Cr52':10346,
           'Fe57':567.8,
           'Mo98':389.26,
           'Ni60':3461.2,
           'Zn66':4045.3,
           'V51':2093.9,
           'Se82':162.36,
           'Cd111':3498.9,
           'Li7':91832,
           'Be9':5480.5,
           'Al27':22489,}
interceptset4={'Cs133':173069,
           'Cu63':28923,
           'As75':5909.3,
           'Cr52':29611,
           'Fe57':2005.7,
           'Mo98':6240,
           'Ni60':8118.5,
           'Zn66':8797,
           'V51':21250,
           'Se82':976.32,
           'Cd111':9055.9,
           'Li7':23206,
           'Be9':6667.5,
           'Al27':27965,}
interceptset5={'Cs133':145852,
           'Cu63':23549,
           'As75':5473.3,
           'Cr52':24435,
           'Fe57':1501.9,
           'Mo98':6030.9,
           'Ni60':7781.3,
           'Zn66':7337.7,
           'V51':17727,
           'Se82':979.42,
           'Cd111':8299.4,
           'Li7':17706,
           'Be9':5681.9,
           'Al27':20905,                                                                                                                                                                                         }

In [31]:
complete_data['SET'].nunique()

5

In [32]:
complete_data.columns

Index(['Elements', 'Avg Intensity', 'Sample', 'Batch', 'SET', 'Date',
       'Sample name', '1st triplicate dil factor', '2nd triplicate dil factor',
       '3rd triplicate dil factor', 'actual intensity'],
      dtype='object')

In [33]:
complete_data=complete_data.dropna(how='all', subset=['Elements', 'Avg Intensity', 'Sample']).reset_index(drop=True)
complete_data.shape

(8230, 11)

In [34]:
complete_data.isna().sum()

Elements                        0
Avg Intensity                   0
Sample                          0
Batch                           0
SET                             0
Date                         3696
Sample name                  3696
1st triplicate dil factor    3696
2nd triplicate dil factor    3696
3rd triplicate dil factor    3822
actual intensity             3696
dtype: int64

In [35]:
complete_data['intercept']=np.nan

complete_data.loc[complete_data['SET']==1.0, 'intercept']=complete_data.loc[complete_data['SET']==1.0, 'Elements'].map(interceptset1)
complete_data.loc[complete_data['SET']==2.0, 'intercept']=complete_data.loc[complete_data['SET']==2.0, 'Elements'].map(interceptset2)
complete_data.loc[complete_data['SET']==3.0, 'intercept']=complete_data.loc[complete_data['SET']==3.0, 'Elements'].map(interceptset3)
complete_data.loc[complete_data['SET']==4.0, 'intercept']=complete_data.loc[complete_data['SET']==4.0, 'Elements'].map(interceptset4)
complete_data.loc[complete_data['SET']==5.0, 'intercept']=complete_data.loc[complete_data['SET']==5.0, 'Elements'].map(interceptset5)

In [36]:
complete_data['Elements'].unique()

array(['Cs133', 'Cu63', 'As75', 'Cr52', 'Fe57', 'Mo98', 'Ni60', 'Zn66',
       'V51', 'Se82', 'Cd111', 'Li7', 'Be9', 'Al27'], dtype=object)

In [37]:
complete_data['actual concentration']=complete_data['actual intensity']/complete_data['intercept']
complete_data.head(48)

,Elements,Avg Intensity,Sample,Batch,SET,Date,Sample name,1st triplicate dil factor,2nd triplicate dil factor,3rd triplicate dil factor,actual intensity,intercept,actual concentration
0,Cs133,193,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,240.624626,302670.0,0.000795
1,Cu63,3040,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,3790.149551,145505.0,0.026048
2,As75,2720,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,3391.186441,39183.0,0.086547
3,Cr52,52.6,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,65.579561,140857.0,0.000466
4,Fe57,26500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,33039.132602,23271.0,1.419756
5,Mo98,7.74,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,9.64992,246156.0,0.000039
6,Ni60,2370,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,2954.820538,129852.0,0.022755
7,Zn66,30,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,37.402792,78354.0,0.000477
8,V51,3500,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,4363.659023,851348.0,0.005126
9,Se82,-13.3,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,-16.581904,10400.0,-0.001594
10,Cd111,2.59,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,3.229108,99178.0,0.000033
11,Li7,1690,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,2107.023928,101153.0,0.02083
12,Be9,0,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,0.0,44861.0,0.0
13,Al27,963,1.0,a,1.0,2020-11-12,WMS- 1 Top,1.246760,1.250000,1.250000,1200.629611,125359.0,0.009578
14,Cs133,171,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,213.589808,302670.0,0.000706
15,Cu63,2550,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,3185.111167,145505.0,0.02189
16,As75,2420,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,3022.73295,39183.0,0.077144
17,Cr52,22.2,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,27.729203,140857.0,0.000197
18,Fe57,24800,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,30976.767424,23271.0,1.331132
19,Mo98,9.13,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,11.403947,246156.0,0.000046
20,Ni60,2060,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,2573.070197,129852.0,0.019815
21,Zn66,24.4,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,30.477142,78354.0,0.000389
22,V51,2900,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,3622.283288,851348.0,0.004255
23,Se82,-6.14,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,-7.669248,10400.0,-0.000737
24,Cd111,0.741,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,0.925556,99178.0,0.000009
25,Li7,1540,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,1923.557332,101153.0,0.019016
26,Be9,0,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,0.0,44861.0,0.0
27,Al27,786,1.0,b,1.0,2020-11-12,WMS- 1 Mid,1.249063,1.252816,1.256250,981.763677,125359.0,0.007832
28,Cs133,147,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,183.630771,302670.0,0.000607
29,Cu63,2390,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,2985.561517,145505.0,0.020519
30,As75,2310,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,2885.626404,39183.0,0.073645
31,Cr52,12.2,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,15.240105,140857.0,0.000108
32,Fe57,25900,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,32353.993012,23271.0,1.390314
33,Mo98,6,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,7.495134,246156.0,0.00003
34,Ni60,2020,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,2523.361617,129852.0,0.019433
35,Zn66,19.3,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,24.109346,78354.0,0.000308
36,V51,2050,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,2560.837285,851348.0,0.003008
37,Se82,-8.64,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,-10.792992,10400.0,-0.001038
38,Cd111,4.81,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,6.008599,99178.0,0.000061
39,Li7,1400,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,1748.864487,101153.0,0.017289
40,Be9,1.11,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,1.3866,44861.0,0.000031
41,Al27,609,1.0,c,1.0,2020-11-12,WMS -1 Bt,1.249189,1.243781,1.241636,760.756052,125359.0,0.006069
42,Cs133,141,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,176.170826,302670.0,0.000582
43,Cu63,2680,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,3348.495134,145505.0,0.023013
44,As75,2320,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,2898.69728,39183.0,0.073978
45,Cr52,21.5,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,26.862927,140857.0,0.000191
46,Fe57,25400,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,31735.737459,23271.0,1.363746
47,Mo98,7.86,2.0,a,1.0,2020-11-12,WMS- 2 Top,1.249438,1.240397,1.250310,9.820586,246156.0,0.00004

In [38]:
avg=complete_data.groupby(['Sample','Elements'])['actual concentration'].mean()

In [39]:
avg=pd.DataFrame(avg).reset_index()

In [40]:
avg

      Sample Elements  actual concentration
0        1.0     Al27              0.015412
1        1.0     As75              0.061612
2        1.0      Be9              0.000578
3        1.0    Cd111              0.004044
4        1.0     Cr52              0.003012
...      ...      ...                   ...
3243   233.0     Mo98                   NaN
3244   233.0     Ni60                   NaN
3245   233.0     Se82                   NaN
3246   233.0      V51                   NaN
3247   233.0     Zn66                   NaN

[3248 rows x 3 columns]

In [41]:
#complete_data=complete_data.drop('average concentration',axis=1) #to drop a column,run once

In [42]:
avg=avg.rename(columns={'actual concentration':'average concentration'}) #to rename a column using a dictionary (key:value)

In [43]:
avg

      Sample Elements  average concentration
0        1.0     Al27               0.015412
1        1.0     As75               0.061612
2        1.0      Be9               0.000578
3        1.0    Cd111               0.004044
4        1.0     Cr52               0.003012
...      ...      ...                    ...
3243   233.0     Mo98                    NaN
3244   233.0     Ni60                    NaN
3245   233.0     Se82                    NaN
3246   233.0      V51                    NaN
3247   233.0     Zn66                    NaN

[3248 rows x 3 columns]

## Transpose

In [44]:
avg

      Sample Elements  average concentration
0        1.0     Al27               0.015412
1        1.0     As75               0.061612
2        1.0      Be9               0.000578
3        1.0    Cd111               0.004044
4        1.0     Cr52               0.003012
...      ...      ...                    ...
3243   233.0     Mo98                    NaN
3244   233.0     Ni60                    NaN
3245   233.0     Se82                    NaN
3246   233.0      V51                    NaN
3247   233.0     Zn66                    NaN

[3248 rows x 3 columns]

In [45]:
new_avg=[]
for sam in avg['Sample'].unique():
    print(sam)

    subset=avg[avg['Sample']==sam].set_index('Elements').T
    subset=subset.drop('Sample').reset_index(drop=True)
    subset['Sample']=sam
    new_avg.append(subset)
new_avg=pd.concat(new_avg).reset_index(drop=True)

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0
100.0
101.0
102.0
103.0
104.0
105.0
106.0
107.0
108.0
109.0
110.0
111.0
112.0
113.0
114.0
115.0
116.0
117.0
118.0
119.0
120.0
121.0
122.0
123.0
124.0
125.0
126.0
127.0
128.0
129.0
130.0
131.0
132.0
133.0
134.0
135.0
136.0
137.0
138.0
140.0
141.0
142.0
143.0
144.0
145.0
146.0
147.0
148.0
149.0
150.0
151.0
152.0
153.0
154.0
155.0
156.0
157.0
158.0
159.0
160.0
161.0
162.0
163.0
164.0
165.0
166.0
167.0
168.0
169.0
170.0
171.0
172.0
173.0
174.0
175.0
176.0
177.0
178.0
179.0
180.0
181.0
182.0
183.0
184.0
185.0
186.0
187.0
188.0
189.0
190.0
191.0
192.0
193.0
194.0
195.0
196.0
197.0
198.0
199.0
200.0
201.0
202.0
203.0
204.0
205.0
206.0
207.0
208.0
209.0
210.0
211.0
212.0
213.0
214.0
215.0
216.0
217.0
218.0
219.0
220.0
221.0
222.0
223.0
224.0
225.0
226.0
227.0
228.0
229.0
230.0
231.0
232.0
233.0

In [46]:
new_avg

Elements,Al27,As75,Be9,Cd111,Cr52,Cs133,Cu63,Fe57,Li7,Mo98,Ni60,Se82,V51,Zn66,Sample
0,0.015412,0.061612,0.000578,0.004044,0.003012,0.000871,0.026273,1.172270,0.019143,0.000431,0.018749,0.004568,0.037384,0.012315,1.0
1,0.010499,0.065070,0.000015,0.000064,0.001458,0.000481,0.018444,2.316004,0.022261,0.000645,0.036993,0.051891,0.106531,0.003843,2.0
2,0.007947,0.190758,0.000005,0.000126,0.002773,0.000694,0.047532,5.176143,0.080861,0.001298,0.111346,0.219681,0.486823,0.004246,3.0
3,0.011442,0.231385,0.000068,0.000142,0.004573,0.000704,0.058683,6.923928,0.114305,0.002236,0.152092,0.314248,0.722037,0.006565,4.0
4,0.006926,0.081072,0.000069,0.000095,0.002539,0.000546,0.022712,3.306395,0.039270,0.000739,0.065394,0.137612,0.285364,0.010310,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,229.0
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230.0
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231.0
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.0
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233.0

In [47]:
#complete_data_new=pd.merge(complete_data,avg, on=["Sample", "Elements"], how="left")
#complete_data_new

# save

In [48]:
sample_dict=complete_data[['Sample', 'Date', 'Sample name']].drop_duplicates(subset='Sample').dropna().set_index('Sample')
sample_dict['Sample name']=sample_dict['Sample name'].str.replace('Mid', 'Top').str.replace('Bottom', 'Top')
sample_dict=sample_dict.to_dict()

In [49]:

new_avg['Date']=new_avg['Sample'].map(sample_dict['Date'])
new_avg['Sample name']=new_avg['Sample'].map(sample_dict['Sample name'])
new_avg.head()

Elements,Al27,As75,Be9,Cd111,Cr52,Cs133,Cu63,Fe57,Li7,Mo98,Ni60,Se82,V51,Zn66,Sample,Date,Sample name
0,0.015412,0.061612,0.000578,0.004044,0.003012,0.000871,0.026273,1.172270,0.019143,0.000431,0.018749,0.004568,0.037384,0.012315,1.0,2020-11-12,WMS- 1 Top
1,0.010499,0.065070,0.000015,0.000064,0.001458,0.000481,0.018444,2.316004,0.022261,0.000645,0.036993,0.051891,0.106531,0.003843,2.0,2020-11-12,WMS- 2 Top
2,0.007947,0.190758,0.000005,0.000126,0.002773,0.000694,0.047532,5.176143,0.080861,0.001298,0.111346,0.219681,0.486823,0.004246,3.0,2020-11-12,WMS- 3 Top
3,0.011442,0.231385,0.000068,0.000142,0.004573,0.000704,0.058683,6.923928,0.114305,0.002236,0.152092,0.314248,0.722037,0.006565,4.0,2020-11-12,WMS- 4 Top
4,0.006926,0.081072,0.000069,0.000095,0.002539,0.000546,0.022712,3.306395,0.039270,0.000739,0.065394,0.137612,0.285364,0.010310,5.0,2020-11-12,WMS- 5 Top

In [50]:
new_avg.shape

(232, 17)

In [51]:
new_avg.isna().sum()

Elements
Al27           129
As75           129
Be9            129
Cd111          129
Cr52           129
Cs133          129
Cu63           129
Fe57           129
Li7            129
Mo98           129
Ni60           129
Se82           129
V51            129
Zn66           129
Sample           0
Date           131
Sample name    131
dtype: int64

In [52]:
new_avg.to_csv("tracemetal_analysis_datacom.csv", index=False)
new_avg.to_excel("tracemetal_analysis_datacom.xlsx",
             sheet_name='conc_data')